@import '_mixin.scss';
@import '_variables.scss';

.hero-container {
    padding-top: 41px;
    padding-bottom: 38px;
    display: grid;
    grid-template-rows: minmax(10px, 25px) minmax(186px, 300px) minmax(105px, 257px);
    grid-template-columns: repeat(4, minmax(124px, 300px));
    grid-auto-rows: 300px;
    gap: 25px $gutterGap;
    grid-template-areas: 
        "camera camera text text"
        "camera camera model1 model1"
        "camera camera model2 model3";

    &__content {
        position: relative;
        padding: 405px 145px 60px 60px;
        grid-area: camera;
        background-image: url(../img/hero/desktop/camera.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: $whiteColor;

        .hero-content__author {
            margin-bottom: 3px;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }

        .hero-content__time {
            margin-bottom: 19px;
            font-weight: 700;
            font-size: 36px;
            line-height: 104%;
        }

        .hero-content__btn {
            @include clearBtnStyles();

            padding: 15.5px 22px;
            color: $whiteColor;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            background-color: $btnColor;    
            outline: 3px solid transparent;
            transition: outline .15s linear;
        }

        .notify-hashtag {
            @include notify-hashtag();

            top: 15px;
            right: 15px;
        }
    }

    &__title {
        grid-area: text;
        font-weight: 700;
        font-size: 24px;
        line-height: 104%;
    }

    &__img-1 {
        grid-area: model1;
    }

    &__img-2 {
        grid-area: model2;
    }

    &__img-3 {
        grid-area: model3;
    }
}